.transitionNav {
  transition: 0.6s all ease;
}
.active {
  display: flex;
  gap: 15px;
  color: #9783f3;
  background: #f6fafd;
  border-radius: 8px;
  transition: 0.3s all;
}
.default {
  display: flex;
  gap: 15px;
  font-size: 20px;
  color: #f6fafd;
}
.default:hover {
  background: #f6fafd;
  color: #9783f3;
  border-radius: 8px;
}
.shadowCard {
  box-shadow: 0px 0px 10px rgb(205, 204, 204);
}
.containerShadow {
  box-shadow: 0px 0px 10px #e8f2fe;
}
.shadowShopIcon {
  box-shadow: 0px 0px 12px rgb(104, 104, 104);
}
