.transitionNav {
  transition: 0.6s all ease;
}
.active {
  display: flex;
  gap: 15px;
  color: #9783f3;
  background: #f6fafd;
  border-radius: 8px;
  transition: 0.3s all;
}
.default {
  display: flex;
  gap: 15px;
  font-size: 20px;
  color: #f6fafd;
}
.default:hover {
  background: #f6fafd;
  color: #9783f3;
  border-radius: 8px;
}
.shadowNum {
  box-shadow: 0px 0px 10px rgb(205, 204, 204);
}
.shadowCard {
  box-shadow: 0px 0px 10px rgb(205, 204, 204);
}
.shadowBorderCard {
  box-shadow: 0px 0px 10px rgb(205, 204, 204);
}
.containerShadow {
  box-shadow: 0px 0px 10px #e8f2fe;
}
.shadowShopIcon {
  box-shadow: 0px 0px 12px rgb(104, 104, 104);
}

.orders {
  display: flex;
  justify-content: center;
}

.orders table {
  width: 90%;
  margin-top: 5%;
}

.maps {
  font-size: 40px;
  color: sienna;
  font-weight: 800;
}

.menu_order {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

.orderMenu {
  font-size: 26px;
  padding: 20px 15px;
  border-radius: 10px;
  width: 220px;
  text-align: center;
  cursor: pointer;
}

.order_change {
  font-size: 25px;
  color: forestgreen;
  margin: 0px;
  display: inline;
}

.orderOne {
  background-color: rgba(0, 0, 0, 0.252);
}

.wrapOne {
  width: 960px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
}
.react-datetime-picker__wrapper {
  width: 200px;
  padding: 5px 10px;
  border-radius: 5px;
  background: white;
}